.authorActionIcons {
  display: none !important;
}

.authorListItem {
  div {
    font-weight: 500;
  }

  &:hover {
    background-color: #f5f5f5;

    .authorActionIcons {
      display: flex !important;
    }
  }
}

.createAuthorButton {
  background-color: #01589d;
}
.addAuthorSection {
  &:hover {
    cursor: pointer;
  }
}
