.bookActionIcons {
  display: none !important;
}

.bookListItem {
  div {
    font-weight: 500;
  }
  &:hover {
    background-color: #f5f5f5;
    .bookActionIcons {
      display: flex !important;
    }
  }
}
