.btnDelete {
  &:hover {
    cursor: pointer;
  }
}
.btnEdit {
  &:hover {
    cursor: pointer;
  }
}

.createSectionTitle {
  color: #336459;
  font-weight: 500;
}

.createSectionCloseIcon {
  color: #1e1e1e;

  &:hover {
    cursor: pointer;
    fill: #a53b38;
    color: white;
  }
}
